<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="email" value="scott@farling.com"/>
    <add key="name" value="scott farling"/>

    <add key="email2" value="chadpettrone@gmail.com"/>
    <add key="name2" value="Chad Pettrone"/>

    <add key="email3" value="bryanfraser83@gmail.com"/>
    <add key="name3" value="Bryan Fraser"/>

    <add key="email4" value="byron.rudisill@gmail.com"/>
    <add key="name4" value="Byron Rudisill"/>

    <add key="email5" value="troutrobert@gmail.com"/>
    <add key="name5" value="Rob McCormack"/>

    <add key="email6" value="Jake4higgins@gmail.com"/>
    <add key="name6" value="Jacob Higgins"/>
        
    <add key="email6" value="onin@harmonic-motion.com"/>
    <add key="name6" value="Aaron Chutz"/>
        
        
       

    <add key="Tues" value="10701"/>
    <add key="Thurs" value="10701"/>
    <add key="Thurspm" value="9998"/>
    <add key="Fri" value="10734"/>
    <add key="Fripm" value="10740"/>
    <add key="Sat" value="10272"/>
    <add key="Mon" value="10694"/>
  
 

  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
